doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div.back#particle-canvas.parallax-group
    div.front Pranay Marella
    script(src="/javascript/particle-network.min.js")
    script(src="/javascripts/particle_canvas.js")
